<div class="container-fluid">

  <div class="sidebar" [ngClass]="isSidebarOpen ? 'sidebar active' : 'sidebar'">
    <div class="top">
      <div class="logo">
        <i class='fa-solid fa-cart-shopping'></i>
        <span>LF Hardware Trading Sdn Bhd</span>
      </div>
      <i class='fa-solid fa-cart-shopping' id="btn" (click)="toggle($event)"></i>
    </div>
    <div class="user">
      <div>
        <p class="bold">Name</p>
        <p>Admin</p>
      </div>
    </div>
    <ul>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Products</span>
        </a>
        <span class="tooltip">Products</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Categories</span>
        </a>
        <span class="tooltip">Categories</span>
      </li>
      <li>
        <a href="#">
          <i class='fa-solid fa-cart-shopping' ></i>
          <span class="nav-item">Orders</span>
        </a>
        <span class="tooltip">Orders</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Customers</span>
        </a>
        <span class="tooltip">Customers</span>
      </li>
      <li>
        <a href="#">
          <i class='fa-solid fa-cart-shopping' ></i>
          <span class="nav-item">Shipping</span>
        </a>
        <span class="tooltip">Shipping</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="nav-item">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
    </ul>
  </div>
</div>


