
      <form class="col-md-12 shadow p-5 bg-white rounded">
        <h3 class="py-3">Forgot Password?</h3>
        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email address"
            [(ngModel)]="emailAddress"
            name="emailAddress"
            [disabled] = "isSent"
          />
        </div>
        <button
          type="submit"
          class="w-100 my-3"
          mat-raised-button color="primary"
          (click)="verifyEmail()"
          [hidden]="isSent"
          [disabled]="isButtonLoading"
        >
          <span *ngIf="isButtonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Verify
        </button>
        <div *ngIf="isSent">
          <div *ngIf="$timer | async as timer">
            You can send a link in {{ timer | millisecondToMinuteSecond }}
          </div>
          <div *ngIf="reSend">
            <button class="sendAgainButton" (click)="verifyEmail()"><u>Click here to send again</u></button>
          </div>
        </div>
        <h6 class="my-3" class="text-success" [hidden]="!isSent">A recovery password email has been sent to {{emailAddress}}</h6>
      </form>

