.nav-text{
  color:#861515;
  font-size:17px;
  font-weight:500;
}


.navbar{
  /*background-image:url('../../../assets/images/navbar-background.jpeg');*/
  /*background-repeat: no-repeat;*/
  /*background-size:cover;*/
}
