<div class="container-fluid">
  <div class="row p-3">
    <mat-card class="col-md-2">
      <mat-card-title>Filter</mat-card-title>
      <mat-card-content>
        <div class="pt-5">
          <section class="my-2">
            <h4 class="">Sort by</h4>
            <ul>
              <li>
                <mat-checkbox color="primary">
                  Name
                </mat-checkbox>
              </li>
              <li>
                <mat-checkbox color="primary">
                  Price
                </mat-checkbox>
              </li>
            </ul>
          </section>
          <section class="my-2">
            <h4>Price Range</h4>
            <mat-slider>
              <input matSliderStartThumb>
              <input matSliderEndThumb>
            </mat-slider>
          </section>
          <!--        <mat-slider min="1" max="5" step="0.5" value="1.5">-->
          <!--          <input matSliderThumb>-->
          <!--        </mat-slider>-->

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Category
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div>
                  <ul>
                    <li *ngFor="let brand of brands">
                      <mat-checkbox color="primary" [(ngModel)]="brand.id">
                        {{brand.name}}
                      </mat-checkbox>
                    </li>
                  </ul>
                  <!--                  <mat-checkbox class="me-3 my-2" *ngFor="let brand of brands" color="primary" [(ngModel)]="brand.id">-->
                  <!--                    {{brand.name}}-->
                  <!--                  </mat-checkbox>-->
                </div>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Brand
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div>
                                <ul>
                                  <li *ngFor="let brand of brands">
                                    <mat-checkbox color="primary" [(ngModel)]="brand.id">
                                      {{brand.name}}
                                    </mat-checkbox>
                                  </li>
                                </ul>
<!--                  <mat-checkbox class="me-3 my-2" *ngFor="let brand of brands" color="primary" [(ngModel)]="brand.id">-->
<!--                    {{brand.name}}-->
<!--                  </mat-checkbox>-->
                </div>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="row class px-3 pb-3">
          <div class="col-md-6">
            <button mat-raised-button color="primary" class="w-100">Clear</button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button color="primary" class="w-100">Apply</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
    <div class="col-md-10" *ngIf="productInfo$ | async as productInfo">
      <mat-paginator #paginator
                     class="demo-paginator"
                     (page)="handlePage($event)"
                     [length]="productInfo.totalElements"
                     [pageSize]="productInfo.pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                     [hidePageSize]="hidePageSize"
                     [pageIndex]="pageIndex"
                     aria-label="Select page">
      </mat-paginator>
      <div class="row border rounded">
        <div class="col p-4" *ngFor="let product of productInfo.items">
          <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="../../../assets/images/logo.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">RM {{product.price}}</p>
              <button mat-raised-button  color="primary" (click)="addToCart(product.id)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
