<div class="container-fluid">
  <section class="vh-80 pt-5">
    <div class="row py-5">
      <div class="col-md-12">
        <h3 class="text-center title">How can we help you ?</h3>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-center">
          <div class="rounded-circle img-container">
            <img src="../../../assets/images/faq.png" width="250" height="250" />
          </div>
          <h4 class="py-5">FAQ</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-center">
          <div class="rounded-circle img-container">
            <img src="../../../assets/images/information.png" width="250" height="250" />
          </div>
          <h4 class="py-5">Term & Conditions</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-center">
          <div class="rounded-circle img-container">
            <img src="../../../assets/images/exchange.png" width="250" height="250" />
          </div>
          <h4 class="py-5">Return & Refund Policy</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-center">
          <div class="rounded-circle img-container">
            <img src="../../../assets/images/mail-message.png"  width="250" height="250" />
          </div>
          <h4 class="py-5">Contact Us</h4>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="whatsapp-icon">
  <a href="">
    <img src="../../../assets/images/whatsapp-icon.png" width="40" height="40" />
  </a>
</div>
