<div class="container-fluid">
  <section class="vh-70 pt-5">
    <div class="row py-5">
      <div class="col-md-12">
        <h3 class="text-center title">How can we help you ?</h3>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3" *ngFor="let tab of tabs;" data-aos="zoom-in" data-aos-duration="2000">
        <div class="d-flex flex-column align-items-center">
          <button class="panel-btn" (click)="switchTab(tab.title)">
            <div class="rounded-circle img-container">
              <img [ngSrc]="tab.imageUrl" [width]="tab.width" [height]="tab.height" [alt]="tab.alt"/>
            </div>
            <h4 [ngClass]="selectedTab === tab.title ? 'pt-5 selected-tab' : 'pt-5 underline'">{{tab.title}}</h4>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="vh-70 pt-5" data-aos="zoom-in" data-aos-duration="2000">
    <ng-container [ngSwitch]="selectedTab" >
      <div class="d-flex justify-content-center" *ngSwitchCase="'FAQ'">
        <div class="px-5">
          <p>
            FAQ
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
            hellooooooooooooooooo
          </p>
        </div>
      </div>
      <!--Term and conditions-->
      <div class="d-flex justify-content-center" *ngSwitchCase="'Terms & Conditions'">
        <div class="px-5 py-5">
            <h4>Terms & Conditions</h4>
            <p>
              Welcome to <strong>LF HARDWARE TRADING SDN BHD</strong> web site online store. Terms and conditions stated below applies to all visitors and users of <strong>LF HARDWARE TRADING SDN BHD</strong> You're bound by these terms and conditions as long as you're on <strong>LF HARDWARE TRADING SDN BHD</strong>.
              </p>
            <h5 class="tnc-subtitle">General</h5>
            <p>The content of terms and conditions may be change, move or delete at any time. Please note that <strong>LF HARDWARE TRADING SDN BHD</strong> have the rights to change the contents of the terms and conditions without any notice. Any violation of rules and regulations of these terms and conditions, <strong>LF HARDWARE TRADING SDN BHD</strong> will take immediate actions against the offender(s).
            </p>

            <h5 class="tnc-subtitle">Site Contents & Copyrights</h5>
            <p>Unless otherwise noted, all materials, including images, illustrations, designs, icons, photographs, video clips, and written and other materials that appear as part of this Site, in other words “Contents of the Site” are copyrights, trademarks, trade dress and/or other intellectual properties owned, controlled or licensed by <strong>LF HARDWARE TRADING SDN BHD</strong>.</p>

            <h5 class="tnc-subtitle">Comments and Feedbacks</h5>
            <p>All comments and feedbacks to <strong>www.lfhardware.com</strong> will be remain <strong>LF HARDWARE TRADING SDN BHD</strong>'s property.

          User shall agree that there will be no comment(s) submitted to the <strong>www.lfhardware.com</strong> will violate any rights of any third party, including copyrights, trademarks, privacy of other personal or proprietary right(s). Furthermore, the user shall agree there will not be content of unlawful, abusive, or obscene material(s) submitted to the site. User will be the only one responsible for any comment's content made.
            </p>

          <h5 class="tnc-subtitle">Product Information</h5>
            <p>We cannot guarantee all actual products will be exactly the same shown on the monitor as that is depending on the user monitor.
            </p>
           <h5 class="tnc-subtitle">Newsletter</h5>
            <p>User shall agree that<strong> LF HARDWARE TRADING SDN BHD</strong>  may send newsletter regarding the latest news/products/promotions etc through email to the user.
            </p>
            <h5 class="tnc-subtitle">Indemnification</h5>
            <p>The user shall agree to defend, indemnify and hold <strong>LF HARDWARE TRADING SDN BHD</strong> harmless from and against any and all claims, damages, costs and expenses, including attorneys' fees, arising from or related to your use of the Site.
            </p>
            <h5 class="tnc-subtitle">Link to other sites</h5>
            <p>Any access link to third party sites is at your own risk. <strong>LF HARDWARE TRADING SDN BHD</strong>  will not be related or involve to any such website if the user's content/product(s) got damaged or loss have any connection with third party site.
            </p>
            <h5 class="tnc-subtitle">Inaccuracy Information</h5>
            <p>From time to time, there may be information on LF HARDWARE TRADING SDN BHD  that contains typographical error, inaccuracies, omissions, that may relate to product description, pricing, availability and article contents. We reserve the rights to correct any errors, inaccuracies, change or edit information without prior notice to the customers. If you are not satisfy with your purchased product(s), please return it back to us with the invoice. Please check out “Return and Refund Policy”.
            </p>
            <h3 class="tnc-subtitle">Termination</h3>
            <p>This agreement is effective unless and until either by the customer or <strong>LF HARDWARE TRADING SDN BHD</strong> Customer may terminate this agreement at any time. However, <strong>www.lfhardware.com</strong> may also terminate the agreement with the customer without any prior notice and will be denying the access of the customer who is unable to comply the terms and conditions above.
            </p>
        </div>
      </div>
      <!--Refund-->
        <div class="d-flex justify-content-center" *ngSwitchCase="'Return & Refund Policy'">
          <div class="px-5 py-5">
            <h4>Return & Refund Policy</h4>
            <p>
              The returned goods/products will be checked with the receipt together and the goods should be in the good condition. The packaging should also be in original condition in original shipping container as received. If the goods/products has been used or damaged by the customer, there will not be any refund. LF HARDWARE TRADING SDN BHD will also not be responsible if your shipment is lost during the return transit. Once we have checked and confirm the goods/products, customer will received their refund within 14 working  after the confirmation.

            </p>
            <p>
              Please return your purchase to the following address:

            </p>
            <address>
            <strong>
              LF HARDWARE TRADING SDN BHD
              <br />
              No.10&12, Jalan Budiman 2/2
              <br />
              Taman Putra Budiman, Seri Kembangan, 43300, Selangor
            </strong>
            </address>


            <p>
              Please contact us at customerservice@lfhardware.com or 03-89489799/03-89486199 if you have any questions or doubts.
            </p>
          </div>
        </div>
      <!--Contact Us-->
      <div class="row justify-content-center" *ngSwitchCase="'Contact Us'">
        <div class="col-md-12 px-5">
          <div class="row">
            <div class="col-md-6 form-left py-5 px-5">
              <h5 class="py-3">Send Us A Message</h5>
              <form>
                <div class="form-group py-2">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
                </div>
                <div class="form-group py-2">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email address">
                </div>
                <div class="form-group py-2">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your message"></textarea>
                </div>
                <button type="submit" class="btn submit-btn">Send</button>
              </form>
            </div>
            <div class="col-md-6 form-right py-5">
              <div class="row justify-content-center pb-5">
                <div class="col-md-6 ps-5">
                  <div class="">
                    <div class="box">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span class="form-info-title">Call Us</span>
                      </div>
                      <div class="pt-3">
                        <p>+03-8948 9799
                          <br />
                          +03-8948 6199
                          <br />
                          +011 1777 5717
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ps-5">
                  <div class="">
                    <div class="box">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="form-info-title">Location</span>
                      </div>
                      <div class="pt-3">
                        <p>10-16, Jalan Budiman 2/2,<br /> Putra Square, Taman Putra Budiman, <br/> 43300 Seri Kembangan, Selangor</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-6 ps-5">
                  <div class="">
                    <div class="box">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="form-info-title">Email</span>
                      </div>
                      <div class="pt-3">
                        <p>customerservice@lfhardware.com</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ps-5">
                  <div class="">
                    <div class="box">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="form-info-title">Working hours</span>
                      </div>
                      <div class="pt-3">
                        <p>
                          Monday, 8am - 7pm <br />
                          Tuesday, 8am - 7pm <br />
                          Wednesday, 8am - 7pm <br />
                          Thursday, 8am - 7pm <br />
                          Friday, 8am - 7pm <br />
                          Saturday, 8am - 7pm <br />
                          Sunday, 8am - 3pm
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </section>
</div>
<div class="whatsapp-icon">
  <a href="">
    <img src="../../../assets/images/whatsapp-icon.png" width="40" height="40" alt="whatsapp" />
  </a>
</div>
